/* Общие стили */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333131;
}

/* Контент блока приветствия */
.content__hello {
    display: flex;
    margin-top: 4.2rem;
    margin-bottom: 5rem;
    font-size: 28px;
    line-height: 2.8rem;
    align-items: center; /* Добавлено для вертикального центрирования */
}

.content__hello-img {
    width: 142px;
    height: 142px;
    min-width: 142px;
    border-radius: 50%;
    border: 3px solid silver;
    margin-right: 2.2rem; /* Увеличено пространство справа */
}

.content__hello-text {
    line-height: 2.7rem;
    margin-top: 5px;
}

/* Основные элементы контента */
.content__main-item {
    display: flex;
    line-height: 1.8rem;
    margin-bottom: 1.8rem;
    gap: 10px; /* Пространство между элементами */
}

.content__main-item.project img {
    max-width: 300px;
    height: auto;
    margin-right: 10px;
    border-radius: 25px;
}

/* Заголовки и описания проектов */
.project .main-item__title {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 0.5rem; /* Пространство перед описанием */
}

.project .main-item__description {
    font-weight: 100;
    margin-top: 1rem;
}

.project .main-item__subdescription {
    font-weight: 200;
    margin-top: 1rem;
}

.project .main-item__subdescription span {
    font-weight: 400;
}

/* Посты */
.post .main-item__title {
    font-size: 1.48rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: .05rem;
}

.post .main-item__title a {
    box-shadow: none;
    letter-spacing: 0.03em;
}

.post .main-item__date {
    display: inline-block;
    font-size: .94rem;
    font-weight: 700;
    line-height: 1.55rem;
}

.post .main-item__description {
    line-height: 1.8rem;
    margin-top: -0.2rem;
    margin-bottom: 0.8rem;
}

/* Футер */
.footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Центрирование по вертикали */
}

.footer__social-item img {
    width: 22px;
    height: 22px;
    margin-right: 4px;
}
